body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.title-1 {
  opacity: 70%;
}
.title-1::before {
  content: '';
  position: absolute;
  width: 100%;
  right: 0;
  top: 20px;
  height: 1px;
  background: linear-gradient(135deg, #84b403 0, rgba(250, 248, 248, 01) 100%);
}

.title-2::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  top: 78px;
  height: 1px;
  background: linear-gradient(239deg, #84b403 0, rgba(250, 248, 248, 01) 100%);
}

.image__container {
  width: 100%;
  margin-bottom: 20px;
}

.bellow__box {
  color: #84b403;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 30px;
}

.image__size {
  width: 100%;
  height: auto;
}

.container__box {
  max-width: 1420px;
  margin: auto;
}

.number {
  font-weight: bold;
  font-size: 100px;
}

.box__text {
  font-size: 20px;
}

.header__box {
  font-size: 35px;
  color: white;
  margin-bottom: 46px;
}

.header__box--three {
  font-size: 35px;
  color: white;
}

.padding {
  padding: 32px 32px 32px 32px;
}

.padding__three {
  padding: 10px 36px 10px 32px;
}

.description__box {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.description__box--three {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 80px;
}

.margin__top {
  margin-top: 46px;
}

@media (max-width: 62rem) {
  .title-2::before {
    display: none;
  }
}

@media (min-width: 75em) {
  // .image {
  //   width: 286px;
  //   height: 326px;
  // }
  // .width {
  //   width: 50%;
  // }
  .grid__container {
    display: grid;
    grid-template-columns: 2;
    align-items: center;
  }

  .template__columns {
    grid-column-start: 1;
    margin-bottom: -92px;
  }

  .template__column {
    grid-column-start: 2;
  }

  .width__box--100 {
    width: 100%;
  }

  .width__box--50 {
    width: 50%;
  }

  .width__box--45 {
    width: 40%;
  }

  .width__box--55 {
    width: 60%;
  }
  .width__box--70 {
    width: 60%;
  }

  .width__box--30 {
    width: 40%;
  }

  .description__box {
    margin-left: 20px;
  }
  .margin__left {
    margin-left: 40px;
  }
  .margin__top {
    margin-top: 46px;
  }
  .margin__bottom {
    margin-bottom: 155px;
  }
}

@media (max-width: 75em) {
  // .image {
  //   width: 180px;
  //   height: 205px;
  // }
}

// .bottom {
//   bottom: 103px;
// }

@media (max-width: 25em) {
  .position__box {
    position: absolute;
    bottom: 30px;
    right: -30px;
  }

  .image__container {
    width: 50%;
  }

  .header__box {
    margin-bottom: 0;
  }
  .green__box {
    font-size: 20px;
  }
  .green__box--edit {
    font-size: 50px;
  }
}
